.container {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    width: 600px;
    background-color:white;
}

.radio {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    gap: 9px;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text {
    font-size: 48px;
    font-weight: 700;
}

.sm {
    font-size: 28px; 
}

.md {
    font-size: 38px; 
}

.lg {
    font-size: 58px; 
}

.redColor {
    color: #9d0027;
}

.blueColor {
    color: #3c009d;
}

.underlineWide {
    width: 100%;
    height: 1px;
    background: #050505;
    border-radius: 9px;
}

.underline {
    width: 61px;
    height: 6px;
    background: #050505;
    border-radius: 9px;
}

.inputs {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input {
   display: flex;
   align-items: center;
   margin: auto;
   width: 480px;
   height: 80px;
   background: #eaeaea;
   border-radius: 6px;
}

.smHeight {
    height: 40px !important; 
}

.mdHeight {
    height: 70px !important;
}

.lgHeight {
    height: 90px !important; 
}

.input img {
    margin: 0px 30px;
}

.input input {
    width: 400px;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.smInput {
    font-size: 15px !important; 
}

.mdInput {
    font-size: 18px !important;
}

.lgInput {
    font-size: 22px !important; 
}



.forgot-password {
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
}

.forgot-password  span {
    color: #4c00b4;
    cursor: pointer;
}

.submit-container {
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit {
    display: flex;
    justify-content: center;
   align-items: center;
   margin: auto;
   width: 220px;
   height: 59px;
   color: #fff;
   border-radius: 50px;
   font-size: 19px;
   font-weight: 700;
   background: #030008;
   cursor: pointer;
}

.grey {
    background: #eaeaea;
    color: #676767;
}

.blueBackground {
    background: #4c00b4;
}

.redBackground {
    background: #9d0027;
}